@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --grey-900: #141414;
    --grey-800: #1F1F1F;
    --grey-700: #333333;
    --white: #FFFFFF;
    --green: #C4F82A;
}