@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --grey-900: #141414;
    --grey-800: #1F1F1F;
    --grey-700: #333333;
    --white: #FFFFFF;
    --green: #C4F82A;

    --font-family: 'Inter', sans-serif;
    --fontsize-small: .875rem;
    --fontsize-medium: 1rem;
    --fontsize-large: 1.5rem;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--white);
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: var(--grey-900);
    font-family: 'Inter', sans-serif;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--grey-800);
    border-radius: .75rem;
    padding: 2.5rem;
    width: 24rem;
    gap: 1.5rem;
}

.profile-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .25rem;
}

h1{
    font-size: var(--fontsize-large);
    font-weight: 600;
}

.location{
    font-size: var(--fontsize-medium);
    font-weight: 500;
    color: var(--green);
}

.bio{
    font-size: var(--fontsize-small);
    font-weight: 300;
    text-align: center;
}

.social-links li{
    list-style: none;
    margin: .5rem 0;
    gap: 1rem;
}

.social-links a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--white);
    background-color: var(--grey-700);
    padding: .75rem;
    border-radius: .5rem;
    transition: background-color 0.3s ease;
    width: 19rem;
    font-size: var(--fontsize-small);
    font-weight: 600;
}

.social-links a:hover, .social-links a:focus{
    background-color: var(--green);
    color: var(--grey-700);
}